{% extends "main/base.html" %}

{% block content %}
<div class="container-fluid contain text-center grad ">
        <img class="logo" src="../static\images\deliver-logo.png" alt="Deliv3r">

        <p>We render the gap between deliverymen and clients non-existent, by connecting them togething all in one location, facilitating courier   services fast, efficiently and securely.</p>
        <a class="btn btn-outline-dark btn-theme btn-lg " href="/courier/login">Offer Services</a>
        <hr>
        <a class="btn btn-outline-dark btn-theme btn-lg" href="/customer/login">Seek Services</a>
</div>

{% endblock content %}