body{
    background-color: rgb(218, 214, 214);

}

.grad {
    background-image: linear-gradient(to right, rgba(177, 226, 241, 0) , rgba(69, 124, 141, 0.8));
  }


.logo {
    padding: 1%;
}
.contain{
  
    background-color: white;
    margin-bottom: 8px;
    margin-top: 1px;
    border-radius: 20px;
}
.contain-sm{
    width: fit-content;
    border-radius: 4px;
    justify-content: center;
}
hr{
    color: rgb(33, 71, 82);
}
.btn-theme{
    background-color: linear-gradient(45deg, rgba(177, 226, 241, 0) , rgba(69, 124, 141, 0.8));
}
.btn-1{
    background-color: rgba(69, 124, 141, 1);
    border: none;
    outline: none;
    height: 50px;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn-1:hover{
    background: white;
    border: 1px solid;
    color: black;
}


.row-x{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}
